@import "fonts.scss";

$primary: #4183D7;
// #fcfcfc
// #979797

html, body {
	font-family: 'Gotham', sans-serif;
	font-size: 16px;
}

#welcome {
    background: #C71F2D;
}

.form-label {
    font-weight: 700;
    font-size: 35px;
    margin: 0;
    padding-bottom: 10px;
}

.form-input {
    border: 2px solid $primary;
    border-radius: 7px;
    padding: 10px;

    ::-webkit-input-placeholder {
        font-size: 20px;
        font-weight: 400;
        color: #8d8d8d;
    }

    ::-moz-placeholder {
        font-size: 20px;
        font-weight: 400;
        color: #8d8d8d;
    }

    :-ms-input-placeholder {
        font-size: 20px;
        font-weight: 400;
        color: #8d8d8d;
    }

    :-moz-placeholder {
        font-size: 20px;
        font-weight: 400;
        color: #8d8d8d;
    }
}

// Fancy toggle switches

.cmn-toggle {
  position: absolute;
  margin-left: -9999px;
  visibility: hidden;
}
.cmn-toggle + label {
  display: block;
  position: relative;
  cursor: pointer;
  outline: none;
  user-select: none;
}

input.cmn-toggle-round-flat + label {
  padding: 2px;
  width: 120px;
  height: 40px;
  background-color: #dddddd;
  border-radius: 40px;
  transition: background 0.4s;
}
input.cmn-toggle-round-flat + label:before,
input.cmn-toggle-round-flat + label:after {
  display: block;
  position: absolute;
  content: "";
}
input.cmn-toggle-round-flat + label:before {
  top: 2px;
  left: 2px;
  bottom: 2px;
  right: 2px;
  background-color: #fff;
  border-radius: 40px;
  transition: background 0.4s;
}
input.cmn-toggle-round-flat + label:after {
  top: 4px;
  left: 4px;
  bottom: 4px;
  width: 42px;
  background-color: #dddddd;
  border-radius: 42px;
  transition: margin 0.4s, background 0.4s;
}
input.cmn-toggle-round-flat:checked + label {
  background-color: $primary;
}
input.cmn-toggle-round-flat:checked + label:after {
  margin-left: 75px;
  background-color: $primary;
}

// end fancy toggle switches

.active {
    color: #fff !important;
}

h3.sectionTitle {
    font-weight: 700;
    font-size: 35px;
    color: #373737;
}

.btn-danger {
    height: 46px;
    line-height: 46px;
    background: #EB4735;
    color: #fff;
    border: none;
    border-radius: 7px;
    text-decoration: none;
    text-align: center;
    font-size: 1.4rem;
}

.btn-dark {
    width: 50%;
    height: 91px;
    line-height: 91px;
    text-align: center;
    border: none;
    text-decoration: none;
    font-size: 1.8rem;
    background: #373737;
    color: #C8C8C8;
    font-weight: 700;
}

.btn-info {
    height: 46px;
    line-height: 46px;
    background: #80B5EA;
    color: #fff;
    border-radius: 7px;
    border: none;
    text-decoration: none;
    text-align: center;
    font-size: 1.6rem;
}

nav {
	background: $primary;
	width: 100%;
	height: 85px;
	position: relative;
    top: 0;
    left: 0;

	ul {
        height: inherit;
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		align-items: center;
        padding-left: 0;
        margin: 0;
		
		li {
			display: inline-block;
            list-style: none;
			padding: 0;
			margin: 0;
			
			a {
				text-align: center;
				color: #fff;
				display: block;
				padding: 0 20px;

                &:nth-of-type(1) img {width: 50px; height: 48px;}
                &:nth-of-type(2) img {width: 42px; height: 45.6px;}
                &:nth-of-type(3) img {width: 50px; height: 50px;}
                &:nth-of-type(4) img {width: 66px; height: 66px;}
                &:nth-of-type(5) img {width: 40px; height: 53px;}
			}
			
			a:hover {
				background: #2383D7;
			}
		}
	}
}

header {
	background: url(https://placekitten.com/1440/600) no-repeat center center;
	width: 100%;
	height: 408px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: space-between;
	
	h1 {
		color: #fff;
		font-size: 3.2rem;
		text-align: center;
        padding-top: 35px;
	}
	
	.btn-danger {
        width: 222px;
		display: block;
		margin: 10px auto 5px auto;
	}
	
	.stats {
		display: flex;
		flex-flow: row nowrap;
		justify-content: space-around;
        align-content: center;
        padding-top: 65px;

        .stat a {
            color: #fff;
            font-size: 1.8rem;
            text-decoration: none;
            font-weight: bold;
        }
	}
}

#profile {
    text-align: center;

    .profilePic {
        background: url(../img/profile-pic.png) no-repeat center center;
        width: 222px;
        height: 222px;
        border-radius: 50%;
        border: 3px solid #fff;
        position: relative;
        margin: 0 auto;
        transform: translateY(-50%);
    }

    .profile-info {
        transform: translateY(-75px);

        .name {
            font-weight: 700;
            font-size: 2.8rem;
            padding-bottom: 25px;
        }

        .title {
            color: #767676;
            font-size: 1.8rem;
            padding-bottom: 25px;
        }

        .btn-danger {
            width: 300px;
            display: block;
		    margin: 0 auto;
        }
    }
}

#profile-buttons {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    align-content: center;
    justify-content: center;

    a {
        border: 1px solid #fff;
    }

    a:hover {
        color: #fff;
    }
}

#story {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    justify-content: center;

    .sectionTitle {
        text-align: center;
    }

    p {
        width: 90%;
        margin: 0 auto;
        display: block;
        font-weight: 200;
        color: #767676;
        font-size: 1.8rem;
        line-height: 33px;
    }
}

#interests,#lookingfor,#achievements {
    display: flex;
    flex-direction: column;
    align-items: space-between;

    .sectionTitle {
        text-align: center;
    }

    .btn-group,.action-group {
        width: 90%;
        margin: 0 auto;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: center;

        .interest,.trait {
            padding: 20px;

            a {
                display: block;
                width: 275px;
                padding: 0 10px;
                margin: 0 auto;
            }
        }

        .action-info {
            width: 50%;
            text-align: center;
            display: flex;
            flex-direction: column;
            align-items: space-between;
            justify-content: center;

            img {
                padding: 20px;
            }

            .num {
                font-weight: 700;
                font-size: 1.8rem;
            }

            .action {
                font-weight: 400;
                font-size: 1.4rem;
            }
        }
    }
}

#events-attending {
    display: flex;
    flex-direction: column;
    align-items: space-between;

    .sectionTitle {
        text-align: center;
    }

    .eventsParent {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;

        .event {
            width: 584px;
            height: 200px;
            margin: 25px auto;
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
            justify-content: center;

            .datetime {
                background: #373737;
                width: 100px;
                height: 100%;
                border-top-left-radius: 7px;
                border-bottom-left-radius: 7px;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                align-content: center;
                text-align: center;
                color: #fff;

                .monthday {
                    font-weight: 700;
                    font-size: 1.7rem;
                }

                .time {
                    font-weight: 400;
                    font-size: 1.4rem;
                    transform: translateY(-30px);
                }
            }

            .event-details {
                background: $primary;
                width: 484px;
                height: 100%;
                border-top-right-radius: 7px;
                border-bottom-right-radius: 7px;
                color: #fff;
                text-align: left;

                .name {
                    font-weight: 700;
                    font-size: 1.7rem;
                    padding: 25px 0 10px 25px;
                }

                .location {
                    font-weight: 400;
                    font-size: 1.4rem;
                    padding: 0 0 10px 25px;
                }

                ul.attendees {
                    display: block;
                    list-style: none;
                    padding-left: 25px;

                    li {
                        display: inline-block;
                        margin-right: 15px;

                        a {
                            text-decoration: none;
                            color: #fff;
                            font-size: 1.4rem;
                            font-weight: 400;

                            img {
                                border-radius: 50%;
                            }
                        }
                    }
                }
            }
        }
    }
}

#past-events {
    display: flex;
    flex-direction: column;
    align-items: space-between;

    .sectionTitle {
        text-align: center;
    }

    .event-group {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: center;

        .event {
            width: 280px;
            height: 46px;
            margin: 25px auto;
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
            justify-content: center;
            color: #fff;

            .event-date {
                background: #373737;
                width: 50px;
                height: 100%;
                text-align: center;
                font-weight: 400;
                font-size: 1rem;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-content: center;
                border-top-left-radius: 7px;
                border-bottom-left-radius: 7px;
            }

            .event-name {
                background: $primary;
                width: 230px;
                height: 100%;
                line-height: 46px;
                text-align: left;
                font-weight: 400;
                font-size: 1rem;
                text-indent: 25px;
                border-top-right-radius: 7px;
                border-bottom-right-radius: 7px;
            }
        }
    }
}

#loopParent,#subloops {
    display: flex;
    flex-direction: column;
    align-content: space-around;

    h2 {
        font-weight: 400;
        font-size:  1.8rem;
        text-align: center;
    }

    .sectionTitle {
        text-align: center;
    }

    .loops {
        width: 480px;
        margin: 0 auto;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        align-content: center;

        .loop {
            padding: 20px;
            display: flex;

            img {
                display: block;
                width: 100%;
                height: 100%;
                margin: 0 auto;
            }
        }
    }
}

#create-subloop {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;

    .header {
        width: 80%;
        margin: 0 auto;
        text-align: center;
    }

    form {
        width: 80%;
        margin: 50px auto 0 auto;
        
        .form-group {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-content: center;
            margin: 25px 0;
        }

        #fancyToggle {
            flex-flow: row nowrap;
            align-content: center;
            justify-content: space-between;
        }

        .btn-danger {
            display: block;
            margin: 25px auto;
        }
    }
}

#subloop {
    background: #EAEAEA;
    width: 100%;
    height: 100%;

    .subloop-header {
        width: 100%;
        height: 108px;
        background: #fff;

        h1 {
            font-weight: 700;
            font-size: 30px;
        }

        .subloop-nav {
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-around;
            align-content: center;

            .nav-item {

                a {
                    text-decoration: none;
                    font-size: 20px;
                    text-align: center;
                }

                &:first-of-type a {
                    font-weight: 700;
                }
            }
        }
    }

    .task-grid {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        align-content: center;

        .column {
            width: 222px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-content: space-around;

            h2 {
                font-weight: 400;
                font-size: 24px;
            }

            .add-new-task {
                width: 100%;
                height: 44px;
                padding: 10px;
                border: none;
                border-radius: 7px;

                ::-webkit-input-placeholder {
                    font-size: 20px;
                    font-weight: 400;
                    color: #8d8d8d;
                }

                ::-moz-placeholder {
                    font-size: 20px;
                    font-weight: 400;
                    color: #8d8d8d;
                }

                :-ms-input-placeholder {
                    font-size: 20px;
                    font-weight: 400;
                    color: #8d8d8d;
                }

                :-moz-placeholder {
                    font-size: 20px;
                    font-weight: 400;
                    color: #8d8d8d;
                }
            }

            .task {
                width: 100%;
                min-height: 80px;
                height: auto;
                background: #fff;
                border-radius: 7px;
                margin-top: 15px;

                &:first-of-type {
                    margin-top: 50px;
                }

                .task-title {
                    display: block;
                    padding: 10px;
                }

                .task-info {
                    padding: 10px;
                    display: flex;
                    flex-flow: row nowrap;
                    justify-content: space-between;
                    align-content: center;

                    .group {
                        display: flex;
                        flex-flow: row nowrap;
                        align-items: center;
                        justify-content: space-between;

                        .task-assignee {
                            display: inline;

                            img {
                                border-radius: 50%;
                            }
                        }

                        .task-due {
                            padding: 10px;
                        }

                        .task-action {
                            padding: 15px;
                        }
                    }
                }
            }
        }
    }
}

footer {
    background: $primary;
    width: 100%;
    height: 269px;
    position: relative;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: space-between;
    margin-top: 50px;

    img {
        width: 190px;
        height: auto;
        display: block;
        margin: 0 auto;
    }

    .copyright {
        text-align: center;
        color: #fff;
        font-size: 0.8rem;
    }

    #socials {
        width: 225px;
        margin: 25px auto 10px auto;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-around;
        align-content: center;
        text-align: center;

        .social-icon {
            border: 2px solid #fff;
            border-radius: 7px;
            width: 50px;
            height: 50px;
            line-height: 50px;

            i {
                color: #fff;
                vertical-align: middle;
            }
        }
    }
}
//Our Story
#jumbotron{
    width: 100%;
    height: 400px;
    background-color: #000000;
    position: relative;
    font-weight: bold;

    h1 {
        color: white;
        font-size: 40px;
        text-align: center;
        font-weight: bold;
        position: absolute;
        top: 50%;
        left: 50%;
        margin: -70px 0 0 -170px;
    }

}
#ourStory{
    text-align: center;
    i {
        color: #2383D7;
    }
    h1 {
        text-align: center;
    }

    .textbox {
        width: 500px;
        height: auto;
        margin: auto;
        text-align: left;
    }
    ul {
        list-style-image: url("../img/small-myLoop-icon.png");
    }
    button {
        font-family: 'Gotham';
        background: #C71F2D;
        font-size: 20px;
        color: white;
        text-align: center;
        padding: 15px;
        border-radius: 15px;
        margin: 0 auto;
        border: none;
    }
    button:active{
        border: none;
    }
    button:hover {
        border: none;
    }

}//end Our Story

//You're In The Loop
div {
    img {
        display: block;
        margin: 0 auto;
    }
    h1 {
        font-family: 'Gotham';
        font-weight: 700;
        top: 50%;
        left: 50%;
        text-align: center;
    }
}


